<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamefikasitrivia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wrongans"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wrongans"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayAgain" />
        <activity android:name=".GameWon" />
        <activity android:name=".Time_Up" />
        <activity android:name=".MainGameActivity"></activity>
        <activity android:name=".MateriActivity"></activity>
    </application>

</manifest>